<!-- ---
import Base from "../layouts/Base.astro";
import Card from '../components/Card.astro'
import { getEvents} from "../js/backend.mjs";

const events = await getEvents();
console.log(events);
---
<Base titre="Agenda">
    {events.map((event)=> ( 
        <Card title={event.title} date={event.date} favori={event.favori} />
    ))}
    <h1>Agenda</h1>
</Base> -->
