---
import Layout from '../layouts/Base.astro'
---
<Layout title="Accueil" class="font-mono" >
	<h1 class="text-center ">Accueil</h1>
	<div class="mt-4 p-4 bg-gray-100 rounded shadow">
		<p class="text-gray-700 mb-2">Bienvenue sur notre page d'accueil.</p>
		<button  class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">
			<a href="Demande" >faire une demande </a>
		</button>
	</div>
</Layout>
