---
import Layout from '../layouts/Base.astro'
---
<Layout titre="Offres">
    <h1 class="text-2xl font-bold mb-4">Offre</h1>
    <h2 class="text-xl font-semibold mb-2">Offres disponibles</h2>
    <ul class="list-disc list-inside mb-4">
        <li>Offre 1</li>
        <li>Offre 2</li>
    </ul>
    <p class="text-base">
        Découvrez nos différentes offres pour répondre à vos besoins.
    </p>
</Layout>    
