---
import Header from '../components/header.astro'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Offre</title>
    </head>
    <Header/>
    <body>

        <h1>Offre</h1>
    </body>
</html>