---
import Card from '../components/Card.astro'
import Layout from '../layouts/Base.astro'
import Cardhouse from '../components/Cardhouse.astro'
import { getOffres } from '../js/backend.mjs'
const offres = await getOffres()

console.log(offres);


---
<Layout titre="Offres">
    <h1 class="text-2xl font-bold mb-4">Offre</h1>
    <h2 class="text-xl font-semibold mb-2">Offres disponibles</h2>
    <ul class="list-disc list-inside mb-4">
        <li>Offre 1</li>
        <li>Offre 2</li>
    </ul>

    <p class="text-base">
        Découvrez nos différentes offres pour répondre à vos besoins.
    </p>
   

    <div x-data="{ showFavorites: false }">
        <button 
          class="px-4 py-2 bg-blue-500 text-white rounded shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
          @click="showFavorites = !showFavorites"
        >
          <span x-show="!showFavorites">Afficher les favoris</span>
          <span x-show="showFavorites">Afficher tout</span>
        </button>
        <div x-show="!showFavorites">
          {offres.map((offre) => <Cardhouse {...offre} />)}
        </div>
        <div x-show="showFavorites">
          {offres.map((offre) => 
            offre.favori && <Cardhouse {...offre} />
          )}
        </div>
      </div>
      
</Layout>    
