---

---


<nav class="bg-red-700 h-16 flex items-center ">  
    <a href="/" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-orange-600 transition">Accueil</a>
    <a href="offres" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-orange-600 transition">Offres</a>
</nav>
